@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Varela", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.hover\:clip-polygon {
  position: relative;
  transition: all 0.3s ease-in-out;
  clip-path: polygon(50% 0%, 100% 62%, 80% 100%, 20% 100%, 0% 62%);
   
}

.hover\:clip-polygon:hover {
  
  clip-path: polygon(50% 0%, 100% 62%, 80% 100%, 20% 100%, 0% 62%);
  background: gray;
}
